@import "tailwindcss";
@config "../../tailwind.config.ts";
@import "./tokens.css";

@layer base {
  body {
    background-color: var(--color-neutral-50);
    color: var(--color-text-primary);
    font-family: var(--font-family-sans);
  }
}
